$mobile-sm-width: 340px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$content-width: 1280px;

$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$aqua: #6ebbd3;
$grey: #f3f3f3;
$lightgrey: #cacaca;
$darkgrey: #1f2021;
$red: #e52d2d;
