.header {
  color: $white;

  background-color: $darkgrey;
  background-image:
    linear-gradient(90deg, rgba(31, 32, 33, 0.75) 0%, rgba(31, 32, 33, 0.75) 100%),
    url("../img/header-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(90deg, rgba(31, 32, 33, 0.75) 0%, rgba(31, 32, 33, 0.75) 100%),
      url("../img/header-bg@2x.jpg");
  }
}

.header__container {
  min-height: 252px;
}

.header h1 {
  margin-left: -3px;

  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}

.header__wrapper {
  display: flex;

  padding-top: 26px;
  margin-bottom: 36px;
}

.header__logo {
  max-height: 78px;
  margin-right: 120px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.header__contacts p {
  text-align: right;
}

.header__phone {
  color: $white;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  text-align: right;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $aqua;
  }
}

.header__nav-toggle {
  display: none;

  background-color: $white;
  border: none;
}

@media (max-width: $tablet-width) {
  .header__nav-toggle {
    display: block;

    position: absolute;
    right: 0;
    top: 0;

    width: 50px;
    height: 50px;

    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;

    z-index: 2;

    &--toggled {
      background-image: url("../img/icon-menu-close.svg");
    }
  }

  .header__contacts {
    margin-right: 50px;
  }
}

@media (max-width: $mobile-width) {
  .header__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__wrapper {
    flex-direction: column;

    padding-top: 5px;
  }

  .header__contacts {
    justify-content: flex-start;

    margin-right: 0;
  }

  .header h1 {
    padding-bottom: 15px;

    font-size: 26px;
    line-height: 1.5;
  }
}
