.results {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 49px;
}

.results__filters {
  padding: 38px 0;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: -27px 0 67px -20px;
}

.results__list-item {
  flex: 1 1 290px;

  min-width: 0px; // ie11 fix

  margin: 27px 0 0 20px;
}

.results__show-more-button {
  align-self: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 380px;
  height: 65px;

  margin-bottom: 32px;

  font-size: 14px;
  line-height: 17px;

  background-color: transparent;

  border: 1px solid $lightgrey;
  border-radius: 10px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;

    border-color: $black;
  }
}

.results__scroll-top-button {
  position: absolute;
  bottom: 0;
  right: 2px;

  width: 59px;
  height: 59px;

  background-color: $aqua;
  border: none;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .results__list-item {
  }
}

@media (max-width: $mobile-width) {
  .results {
    padding-bottom: 59px;
  }
}

